node_modules/
dist/
coverage/
.wrangler/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

wrangler.jsonc
