{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "sakata-syllable-engine",
  "main": "./dist/cloudflare-worker.js",
  "compatibility_date": "2026-05-13",
  "routes": [
    {
      "pattern": "example.com/api/syllable",
      "zone_name": "example.com"
    }
  ],
  "workers_dev": false
}
